## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
publish/

## NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json

## Visual Studio
.vs/
*.rsuser
*.sln.ide/
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings

## Rider
.idea/

## OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

## Misc
*.log
*.tmp
*.bak
*.swp
